doctype html
html(lang="en")
  head
    title Kawasaki Specifications
    meta(content="Kawasaki Specifications rendered in a table and with display grid" name="description")
    link(rel="stylesheet", href="/style.css")
  body
    h1 Kawasaki rendered with CSS3 display grid
    .table
      each tableData in data.kawasaki.thead
        .table-data(class=`table-data-span-${tableData.col} thead`)!= tableData.content

      each tableRow in data.kawasaki.tbody
        each tableData, key in tableRow
          if key === 0
            .table-data(class=`table-data-span-${tableData.col} thead`)!= tableData.content
          else
            .table-data(class=`table-data-span-${tableData.col}`)!= tableData.content


    h1 Kawasaki rendered with table html tag
    table
      thead
        tr
          each tableData in data.kawasaki.thead
            td(colspan=tableData.col)!= tableData.content

      tbody
        each tableRow in data.kawasaki.tbody
          tr
            each tableData, key in tableRow
              if key === 0
                th(colspan=tableData.col)!= tableData.content
              else
                td(colspan=tableData.col)!= tableData.content

